@using System.Collections.Generic;
@model PierresTreats.Models.Treat

<h2>Add a Flavor</h2>

<h4>Add add a flavor profile to a treat @Html.DisplayFor(model => model.TreatName)</h4>
<div class="wrapper">
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" />
}
</div>
<hr />

<p>@Html.ActionLink("Back to treat list", "Index")</p>