@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h2>Treat Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.TreatName): @Html.DisplayFor(model => model.TreatName)<h3>

  
@* @if(@Model.JoinTreatFlavor.Count == 0)
{
  <p>This treat does not contain any flavors listed</p>
}
else
{
  <h4>Flavors:</h4>
  <ul>
  @foreach(var join in Model.JoinTreatFlavor)
  {
    <li>@join.Flavor.FlavorName</li>
  }
  </ul>
} *@
<hr />
<p>@Html.ActionLink("Add Flavor", "Create", "Flavor")</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>