@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h2>Treat Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.TreatName): @Html.DisplayFor(model => model.TreatName)<h3>

  
@if(@Model.JoinTreatFlavor.Count == 0)
{
  <p>This treat is not associated with any flavors listed</p>
}
else
{
  <h4>Flavors:</h4>
  <ul class="list-group">
  @foreach(var join in Model.JoinTreatFlavor)
  {
    <li class="list-group-item">@join.Flavor.FlavorName</li>
  }
  </ul>
}
<hr />

<div class="d-grid gap-2 d-md-block">
<p class="btn btn-outline-secondary" role="button" aria-disabled="true">@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p class="btn btn-outline-secondary" role="button" aria-disabled="true">@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>
<p class="btn btn-outline-secondary" role="button" aria-disabled="true">@Html.ActionLink("Back to list", "Index")</p>
</div>