@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.FlavorName): @Html.DisplayFor(model => model.FlavorName)<h3>

    <hr />

    @if (@Model.JoinTreatFlavor.Count == 0)
    {
      <p>This flavor is not associtated with any treats</p>
    }
    else
    {
      <h2>Treats associated with this flavor</h2>
      <ul class="list-group">
        @foreach (var join in Model.JoinTreatFlavor)
        {
          <li class="list-group-item">@join.Treat.TreatName</li>
        }
      </ul>
    }
    <hr />

    <div class="d-grid gap-2 d-md-block">
    <p class="btn btn-outline-secondary" role="button" aria-disabled="true">@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
    <p class="btn btn-outline-secondary" role="button" aria-disabled="true">@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>
    <p class="btn btn-outline-secondary" role="button" aria-disabled="true">@Html.ActionLink("Back to list", "Index")</p>
    </div>